<h1>Data Science Tools and Ecosystem</H1>

<h2>Author</h2>
Tom Hamilton

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List common libraries used in Data Science
* List popular Data Science tools

Some of the popular languages that Data Scientists use are:
1. python
1. r
1. sql

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
1. numpy
1. pandas

|Data Science Tools|
|------------------|
|RStudio           |
|Sp      |
|Jupyter           |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</H3>

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335